.moviesCardList {
  margin: 70px 70px 28px;  
  padding: 0;
  display: grid; 
  grid-template-columns: repeat(auto-fit, 360px);
  grid-auto-flow: dense;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.moviesCardList__moreFilms {
  min-height: 166px;
  display: flex;
  justify-content: center;
}

.moviesCardList__moreFilms-button {
  margin-top: 50px;
  width: 320px;
  height: 36px;
  border: 0;
  border-radius: 6px;
  background-color: var(--movie-save-button-color);
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
  cursor: pointer;
}

.moviesCardList__moreFilms-button:hover {
  opacity: 0.8;
}
  
  @media (min-width: 768px) and (max-width: 1279px) {
    .moviesCardList {
      margin: 70px 30px 12px;
      grid-template-columns: repeat(auto-fit, 339px);
      grid-row-gap: 47px;
    }
  }