.portfolio {
  margin: 0 70px;
  margin-bottom: 125px;
}

.portfolio__text {
  margin: 0;
  margin-bottom: 50px;
  color: var(--dark-grey-color);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
}

.portfolio__text:last-child {
  margin-bottom: 0;
}

.portfolio__container {
  border-bottom: 1px var(--accent-grey-color) solid;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  cursor: pointer;
}

.portfolio__container:hover {
  opacity: 0.7;
}

.portfolio__container:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.portfolio__link {
  margin: 0;
  padding-bottom: 19px;
  min-height: 50px;  
  font-family: "Inter";
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -1.25px;
}

.portfolio__last {
  padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .portfolio {
    margin-left: 50px;
    margin-bottom: 90px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.79;
  }

  .portfolio__image {
    width: 27px;
    height: 60px;
  }
}