.salut-title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;  
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  width: 396px;
  align-self: flex-start;
  margin-left: calc((100% - 396px) / 2);
}

.salut-logo {
  margin: 70px 0 40px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;  
  color: var(--dark-grey-color);
  font-family: "Inter";
  font-size: 10px;
  font-weight: 400;
  line-height: 1.21;
}

.input {
  width: 396px;
  height: 45px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
  border-radius: 8px;
  color: var(--black-color);
  background-color: var(--movie-save-button-color);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
}

.input:last-of-type {
  margin-bottom: 179px;
}

.save-button {
  min-width: 396px;
  height: 45px;
  background-color: var(--black-color);
  color: var(--white-color);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
}

.save-button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
}

.text {
  margin: 0;
  padding: 0;
  margin: 16px 6px 70px 0;
  color: var(--dark-grey-color);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

.link {
  margin-top: 16px;
  color: var(--black-color);  
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
}