.header {
  position: relative;
  margin: 0 auto;
  padding: 0 70px;
  min-height: 74px;
  background-color: var(--purple-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.logo:hover {
  opacity: 0.7;
}

.header_white {
  background-color: var(--white-color);
}

.header__burger-menu {
  display: none;
}

.header__navigation {
  display: flex;
  gap: 50px;
}

.header__container-films {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__films {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-decoration: none;
}

.header__films:hover {
  opacity: 0.7;
}

.header__container-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
}

.header__account {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

.header__account:hover {
  opacity: 0.7;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__navigation {
    display: none;
  }

  .header__burger-menu {
    padding: 0;
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    width: 44px;
    height: 44px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    z-index: 3;
  }

  .header__burger-menu span, .header__burger-menu:after, .header__burger-menu:before{
    height: 3px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--black-color);
    margin: 0 auto;
  }  

  .header__burger-menu span{
    top: 21px;
  }

  .header__burger-menu:after {
    content: '';
    bottom: 10px;
  }

  .header__burger-menu:before {
    content: '';
    top: 12px;
  }

  .header__burger-menu.open-menu span {
    opacity: 0; 
    transition: 0.5s;  
  }
  .header__burger-menu.open-menu:before {
    width: 22px;
    transform: rotate(45deg);
    top: 20px;
    transition: 0.4s;
  }
  .header__burger-menu.open-menu:after {
    width: 22px;
    transform: rotate(-45deg);
    bottom: 21px;
    transition: 0.4s;
  }
}