.title {
  margin: 110px 70px 70px;
  min-height: 50px;
  border-bottom: 1px var(--black-color) solid;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -4%;
}

.project__flex-container {
  margin: 0 70px 110px;  
  display: flex;
  gap: 40px;
}

.project__subtitle {
  margin: 0 0 26px;
  padding: 0;  
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.21;
}

.project__text {
  margin: 0;
  padding: 0; 
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.project__time {
  margin: 0 70px 14px;  
  display: flex;
}

.project__time:last-child {
  margin-bottom: 110px;  
}

.project__box {
  margin: 0;  
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
}

.project__box_small{
  width: 228px;
}
.project__box_big {
  width: 912px;
}

.project__box_black {
  margin: 0;  
  background-color: var(--black-color);
  color: var(--white-color);
}

.project__box_grey {
  margin: 0;  
  background-color: var(--grey-color);
}

.project__box_white {  
  color: var(--dark-grey-color);
}